<%- include ../partials/header.ejs %>

<%- include ../partials/main_nav.ejs %>
  

  <!-- Main Content -->
  <main class="container">
    <div class="jumbotron">
      <header>
      <h1 class="display-4"><center>Welcome to the <%= title %> page</center></h1>
      </header>
    
    </div>

    <div class="mission">
       <h4>
          <br><br><br><br><br><br><br><br><br><br><br><br><br><p>It is my mission to improve my skills for developing video games. My focus is on designing and animating characters and implementing mechanics.</p>
       </h4>
    </div>
    
  </main>
  
<%- include ../partials/bottom_nav.ejs %>  

<%- include ../partials/footer.ejs %>
  
