<%- include ../partials/header.ejs %>

<%- include ../partials/main_nav.ejs %>

<!-- Content for the Add page-->
<div class="container">
    <div class="row">
        <div class="offset-md-3 col-md-6">
            <h1><%= title %></h1>

            <form class="form" method="post">

                <div class="form-group">
                    <label for="contactNameTextField">Contact Name</label>
                    <input  type="text" class="form-control" id="contactNameTextField" placeholder="Enter the contact's name" name="contactName" required><br>
                
                    <label for="contactNumberTextField">Contact Number</label>
                    <input  type="number" class="form-control" id="TextField" placeholder="Enter the contact's number" name="contactNumber" required><br>

                    <label for="emailTextField">Contact Email</label>
                    <input  type="email" class="form-control" id="emailTextField" placeholder="Enter the contact's email" name="email" required><br>
                
                    <button class="btn btn-primary">
                        <i class="fas fa-edit">Submit</i></button>

                        <a href="/business-contacts-list" class="btn btn-warning"><i class="fas fa-undo"> Cancel</i></a>

                </div>
            </form>
        </div>
    </div>
</div>


<%- include ../partials/bottom_nav.ejs %>  

<%- include ../partials/footer.ejs %>